# Requirements file for the dev-container (and virtual environment).
# All requirements MUST be pinned (i.e. only '==').
ansible == 12.0.0
ansible-lint == 25.9.1
kubernetes == 32.0.1
pre-commit == 4.3.0
